html{
    background-color: rgb(235, 125, 0);
}
body{
    background-color: rgb(235, 125, 0);
}

.ghost{
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    transform: translateX(300px);
}

.ghost-visible {
    opacity: 1 !important;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out !important;
    transform: translateX(0px) !important;
}
